@import "~src/scss/variables";

.toolbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;

  i {
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;

    &.selected {
      color: $blue-default;
    }

    &.selected_on {
      color: #fff;
      background: $blue-default;
    }

    &.inactive {
      color: #ddd;
    }
  }
}