<app-header></app-header>

<div class="content" role="main">
  <div class="c-dropdown btn-group" dropdown placement="bottom right">
    <a id="button-alignment" dropdownToggle
      class="dropdown-toggle" aria-controls="dropdown-alignment">
      {{ selectedDD.name }} <span class="caret"></span>
    </a>
    <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
      role="menu" aria-labelledby="button-alignment">
      <li *ngFor="let dd of dropdowns" role="menuitem"><a class="dropdown-item" (click)="selectDD(dd)">{{ dd.name }}</a></li>
    </ul>
  </div>
  <tabset #tabset>
    <app-toolbar></app-toolbar>
    <tab *ngFor="let tabz of tabs; let i = index;"
      [heading]="tabz.title">
      <div>{{tabz?.content}}</div>
      <app-echart *ngIf="i === 1"></app-echart>
      <button *ngIf="i === 2" type="button" class="btn btn-primary btn-sm" (click)="selectTab(0)">Route to {{ tabs[0].title }}</button>
    </tab>
  </tabset>
</div>
